.col-sm-4.col-md-3.proto-content
  - if user_signed_in?
    - if movie.user_id == current_user.id
      .dropdown.drop_menu_location
        = button_tag "Action", data: { toggle: 'dropdown' }, id: 'dropdownMenu', class: 'btn btn-default dropdown-toggle'
        %ul.dropdown-menu{ aria: { labelledby: 'dropdownMenu1' } }
          %li
            = link_to 'Edit', edit_movie_path(movie)
          %li
            = link_to 'Delete', movie_path(movie), method: :delete
  .thumbnail
    = link_to movie_path(movie) do
      = image_tag(movie.thumbnails.first.title)
  .caption
    %h3 #{movie.title}
    .proto-meta
      .proto-user
        = link_to movie.user.nickname, user_path(movie.user)
      .proto-posted
        = movie.created_at.strftime("%b%d")
    %ul.proto-tag-list.list-inline
      - movie.tags.each do |tag|
        %li
          = link_to tag, '#', class: 'btn btn-default'
