.container.user-page
  %header.user-nav
    .media
      .media-left
        = link_to image_tag(current_user.avatar, alt: '64x64', data: { holder: { rendered: true } }, class: 'media-object' ), user_path
      .media-body
        %h4#top-aligned-media.media-heading
          Top aligned media
          %span.label.label-default.project-number
            = current_user.movies.length
            %i Projects
        .proto-user
          %span.degree
            = current_user.member
        .row
          .col-md-6
            %h4 Profile
            %p
              = current_user.profile
          .col-md-6
            %h4 Works
            %p
              = current_user.works
.container.proto-list
  .row
    = render @movies

.text-center
  %ul.pagination
    %li.disabled
      = link_to "#", aria: { label: :Previous }
        %span{ aria { hidden: true } «
    %li.active
      = link_to '1', "#"
        1
        %span.sr-only (current)
    %li
      = link_to '2', "#"
    %li
      = link_to '3', "#"
    %li
      = link_to '4', "#"
    %li
      = link_to '5', "#"
    %li
      = link_to "#", aria: { label: :next }
        %span{ aria { hidden: true } »
