= form_for @movie, url: movie_index_path, html: { class: 'container proto-new' } do |f|
  .col-md-8.col-md-offset-2
    %header.row.user-nav.row
      .col-md-12
        = f.text_field :title, placeholder: 'Title', class: 'proto-new-title'
    .row
      .col-md-12
        = f.fields_for :thumbnails do |t|
          .cover-image-upload#upload0
            = t.file_field :title, class: 'thumbnail-field', id: 'thumb-0'
            %div.thumb-image
            = t.hidden_field :status, value: 'main'
      .col-md-12
        %ul.proto-sub-list.list-group
          - 2.times do |i|
            = f.fields_for :thumbnails do |t|
              %li.list-group-item.col-md-4
                .image-uplod{id: "upload#{ i + 1 }"}
                  = t.file_field :title, class: 'thumbnail-field', id: "thumb-#{i}"
                  %div.thumb-image
                  = t.hidden_field :status, value: 'sub'
          %li.list-group-item.col-md-4
            .image-upload-plus
              %span#plus-button +
    .row.proto-description
      .col-md-12
        = f.text_field :copy, placeholder: 'Catch Copy'
      .col-md-12
        = f.text_area :concept, placeholder: 'Concept', cols: "30", rows: "4"
      .col-md-12
        %h4 Tag List
        .row
          .col-md-3
            - 3.times do
              = text_field_tag 'movie[tag][]', '', placeholder: 'Tag Name'
    .row.text-center.proto-btn
      = f.submit 'Publish', class: 'button btn btn-lg btn-primary btn-block'
