.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          %img.media-object
            = link_to image_tag @movie.user.avatar, size: '64x64', alt: '64x64'
        .media-body
          %h4#top-aligned-media.media-heading
            = @movie.title
          .proto-user
            = link_to "by #{@movie.user.nickname}", user_path(@movie.user)
            %span.degree
              %h4
                Member:
                = @movie.user.member
              %h4
                Works:
                = @movie.user.works

    .col-md-6.text-right
      %button.btn.btn-default
        = image_tag('icon_heart.svg')
        Like
        %span.num 20
  .row
    .col-md-9
      = image_tag(@movie.thumbnails.main.first.title, class: 'img-responsive')
    - if @movie.thumbnails.sub.present?
      .col-md-3
        %ul.proto-sub-list.list-group
          %li.list-group-item
          - @movie.thumbnails.sub.each do |s|
            = image_tag(s.title, class: 'img-responsive')
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
        = @movie.copy
    .col-md-6
      %h4 Concept
      %p
        = @movie.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          = link_to 'iPad', "#", class: 'btn btn-default'
        %li
          = link_to 'wireframe', "#", class: 'btn btn-default'

  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num (#{@movie.comments_count})
    .col-md-8
    = render partial: 'comment', collection: @comments
    =form_for @comment, html: { class: 'form-inline'}, role: 'form' do |f|
      %h4 Write a comment
      .row
        .form-group.col-md-10
          = f.text_area :text, placeholder: 'Comments for this Movie', rows: '3', class: 'form-control'
          = f.hidden_field :movie_id, value: "#{@movie.id}"
        .form-group.col-md-2
          = f.submit 'Send Comment', class: 'btn btn-primary'
